# Ignore build outputs
bin/
obj/

# Ignore user-specific settings
*.user
*.dotsettings

# Ignore sensitive configuration files
appsettings.json
appsettings.Development.json

# Ignore other unwanted files
*.suo
*.vs
.vscode/
.idea/

# Ignore test results
TestResults/

# Db design might change for a while, so let's not include migrations
Migrations/

# internal usage
DevController/

# Ignore logs
Logs/
*.log